<!DOCTYPE html>
<html>

<head>
    <title>
        Dashboard page
    </title>

    <meta charset='utf-8' />

    <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
    <link rel="manifest" href="/fav/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href='css/normalize.css' rel='stylesheet' />

    <link href='css/dashboard.css' rel='stylesheet' />

    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
    <div class="page page--dashboard">
        <aside class="page__aside aside vertical vertical--big">
            <div class="text aside__logo">Sidebar</div>
            <nav class="vertical vertical--small">
                <a href="#" class="nav-button nav-button--active click">
                    <span class="icon nav-button__icon" style="background-image: url('/svg/nav/home.svg')"></span>
                    <span class="text text--light">Home</span>
                </a>
            </nav>
            <nav class="vertical vertical--small">
                <a href="#" class="nav-button click">
                    <span class="icon nav-button__icon" style="background-image: url('/svg/nav/orders.svg')"></span>
                    <span class="text text--light">Orders</span>
                </a>
            </nav>
            <nav class="vertical vertical--small">
                <a href="#" class="nav-button click">
                    <span class="icon nav-button__icon" style="background-image: url('/svg/nav/products.svg')"></span>
                    <span class="text text--light">Products</span>
                </a>
            </nav>
        </aside>

        <header class="header">
            <div class="layout header__content text--small">
                <div class="header__search relative">
                    <input type="text" placeholder="Search" class="text field field--header">
                    <span class="icon header__icon-search"
                        style="background-image: url('/svg/header/search.svg')"></span>
                    <span class="icon header__icon-settings icon--button icon--color-blue click"
                        style="background-image: url('/svg/header/settings.svg')"></span>
                </div>

                <div class="header__nav">
                    <div class="header-list">
                        <span class="icon header__icon-nav icon--color-yell click"
                            style="background-image: url('/svg/header/signal.svg')"></span>
                        <span class="icon header__icon-nav icon--color-lb click"
                            style="background-image: url('/svg/header/transl.svg')"></span>
                        <span class="icon header__icon-nav icon--color-yell click"
                            style="background-image: url('/svg/header/bell.svg')"></span>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="layout">
                <section class="box analytic__block">
                    <div class="analytic analytic--double analytic--purple">

                        <span class="icon analytic__button icon--button icon--color-purple click"
                            style="background-image: url('/svg/analytic/money.svg')"></span>
                        <div class="relative vertical vertical--small">
                            <div class="analytic__title text text--light">$500.00</div>
                            <div class="analytic__info text text--lighter">Total earning</div>

                            <span class="icon analytic__arrow"
                                style="background-image: url('/svg/analytic/blue-arrow.svg')"></span>
                        </div>
                    </div>

                    <div class="analytic analytic--double analytic--blue">

                        <span class="icon analytic__button icon--button icon--color-blue click"
                            style="background-image: url('/svg/analytic/order.svg')"></span>
                        <div class="relative vertical vertical--small">
                            <div class="analytic__title text text--light">$961</div>
                            <div class="analytic__info text text--lighter">Total Order</div>
                        </div>
                    </div>

                    <div class="analytic-low analytic--single-up analytic--blue">
                        <span class="icon analytic__button icon--button icon--color-blue click"
                            style="background-image: url('/svg/analytic/money.svg')"></span>
                        <div class="relative gorizontal">
                            <div class="analytic__title-single text text--light">$203k</div>
                            <div class="analytic__info text text--lighter">Total Income</div>
                        </div>
                    </div>

                    <div class="analytic-low analytic--single analytic--white">
                        <span class="icon analytic__button icon--button icon--color-yell click"
                            style="background-image: url('/svg/analytic/shop.svg')"></span>
                        <div class="relative gorizontal">
                            <div class="analytic__title-single text">$203k</div>
                            <div class="analytic__info text">Total Income</div>
                        </div>
                    </div>
                </section>

            </div>

            <div class="main__second">
                <div class="box box__purchase">
                    <div class="text text--heading ">
                        Purchase list
                    </div>
                    <hr class="hr">

                    <div class="purchase">
                        <div class="purchase__list">
                            <div class="item-sku text">ID437661</div>
                            <div class="item-date text">May 11, 2023, 14:21</div>
                        </div>

                        <div class="purchase__list">
                            <div class="item-name text">AirOn ProCam</div>
                            <div class="item-info text">7/8 USB Type-C</div>
                        </div>

                        <div class="purchase__list">
                            <div class="item-price text">132.32 EUR</div>
                            <div class="item-paid text text--warning">Not paid</div>
                        </div>

                        <div class="purchase__list">
                            <div class="item-customer text">Customer</div>
                            <div class="item-mail text">robin@com.de</div>
                        </div>
                    </div>
                    <hr class="hr">

                    <div class="purchase">
                        <div class="purchase__list">
                            <div class="item-sku text">ID437661</div>
                            <div class="item-date text">May 11, 2023, 14:21</div>
                        </div>

                        <div class="purchase__list">
                            <div class="item-name text">PHILIPS Essential</div>
                            <div class="item-info text">HD9200/90</div>
                        </div>

                        <div class="purchase__list">
                            <div class="item-price text">543 USD</div>
                            <div class="item-paid text text--success">Pay by Stripe</div>
                        </div>

                        <div class="purchase__list">
                            <div class="item-customer text">Customer</div>
                            <div class="item-mail text">dima@com.ua</div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="text text--heading ">
                        Payment
                    </div>
                    <hr class="hr">

                    <div class="form">
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="radiopayment" id="flexCreditcard"
                                checked>
                            <label for="flexCreditcard" class="form-check-label text">Credit card</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="radiopayment" id="flexDebitcard">
                            <label for="flexDebitcard" class="form-check-label text">Debit card</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="radiopayment" id="flexPaypal">
                            <label for="flexPaypal" class="form-check-label text">PayPal</label>
                        </div>
                    </div>


                    <div class="main__form-cc">
                        <div class="form__block relative click">
                            <span class="form__cc-name text" id="nameholder">Name on card</span>
                            <input type="text" name="username" class="form-input">
                        </div>

                        <div class="form__block relative click">
                            <span class="form__cc-name text" id="numbercard">Credit card number</span>
                            <input type="tel" name="number" class="form-input">
                        </div>

                        <div class="form__block relative click">
                            <span class="form__cc-name text" id="cardexp">Expiration</span>
                            <input type="text" name="expiration" class="form-input">
                        </div>

                        <div class="form__block relative click">
                            <span class="form__cc-name text" id="cardcvv">CVV</span>
                            <input type="text" name="cvvcard" class="form-input">
                        </div>
                    </div>
                    <hr class="hr">
                    <fdiv class="main__form-place">
                        <div class="relative form__block">
                            <p class="text">Country</p>
                            <div class="field relative field--select click">
                                <span class="text">Choose...</span>
                            </div>
                            <select class="field__select" name="county">
                                <option value="de">Germany</option>
                                <option value="engl">UK</option>
                                <option value="ukr">Ukraine</option>
                                <option value="amer">USA</option>
                            </select>
                        </div>

                        <div class="relative form__block">
                            <p class="text">State</p>
                            <div class="field relative field--select click">
                                <span class="text">Choose...</span>
                            </div>
                            <select class="field__select">
                                <option value="st1">District 1</option>
                                <option value="st2">District 2</option>
                                <option value="st3">District 3</option>
                                <option value="st4">District 4</option>
                            </select>
                        </div>
                </div>
                <hr class="hr">
                <div class="payment__botton">
                    <a href="#" class="button text click">Continue to checkout</a>
                </div>
            </div>
    </div>
    </main>
    </div>

</body>

</html>