.card>p {
    color:hsla(127, 100%, 63%, 0.6);
}

p:focus,
p:active,
p:hover {
    direction:rtl;
}

#test {
    color:inherit;
    -webkit-text-fill-color: inherit;
    -webkit-text-stroke: inherit;

    writing-mode:vertical-rl
}

span {
    text-align: center;
    text-transform: uppercase;

    text-decoration: underline dotted red;
}

span:hover {
    text-decoration-line: line-through;
    text-decoration-color: blue;
    text-decoration-style: wavy;
}