{{#with data}}
<div class="crdform">
    <h3 class="crdform_title">{{heading}}</h3>
    <div class="crdform_action">
        <a class="crdform_button" href="{{url}}">{{text}}</a>
    </div>
</div>
{{/with}}